body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

.profileNav {
    height: 60px;
    width: 100%;
    /* position: fixed; */
    z-index: 1;
    display: flex;
    padding-top: 10px;
    flex-direction: row-reverse;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.ProfilenavItem {
    height: 30px;
    font-size: 23px;
    font-weight: lighter;
    padding-right: 20px;
    padding-left: 20px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.ProfilenavItem:hover {
    background-color: gray;
    color: white
}

.spanProject {
    border-right: solid 1px black;
    border-left: solid 1px black;
}

.name {
    font-weight: 500;
    top: 5px;
    position: relative;
    right: 60%;
    font-size: 20px;
    display: flex;
    cursor: pointer;
}

.name img {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.profileImage {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 300px;
    left: 0px;
}

.profileImage img {
    width: 450;
    height: 450;
    border-radius: 50%;
    position: relative;
    bottom: 200px;
    left: 65px;
}


.about {
    font-size: 25px;
    position: relative;
    bottom: 132px;
    left: 81px;
    width: 50%;
}

.about p {
    padding: 20px
}

.span2 {
    padding-left: 18px;
    font-size: 30px;
}

.span1 {
    font-size: 70px;
    font-weight: 700
}

.circleItem1,
.circleItem2,
.circleItem3 {
    position: relative;
    border: solid black 1px;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;


}

.circleItem1 {
    background-color: rgba(238, 163, 2, 255);
    transition: background-color 0.5s ease;


}

.circleItem2 {
    background-color: rgba(255, 59, 37, 255);
    transition: background-color 0.5s ease;

}

.circleItem3 {
    background-color: rgba(128, 216, 218, 255);
    transition: background-color 0.5s ease;

}

.circleItem1:hover,
.circleItem3:hover,
.circleItem2:hover {
    left: 5px;
    background-color: whitesmoke;
    border: solid 1px #555;

}
hr {
    position: relative;
    top: 150px;
}

.footer {
    width: 80%;
    position: relative;
    top: 16rem;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    font-weight: bold;
}

.footerItem {
    display: block;
    font-size: 18px;
}

.follow {
    font-size: 18px
}

.firstProject {
    position: relative;
    display: flex;
    width: 90%;
    margin: auto;
    height: 300px;
    padding: 50px;
    top: 200px;
    right: 20px;
    align-items: center;
    margin-bottom: 150px;
}

.firstProject img {
    width: 500px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
}

.projectHeading {
    width: 90%;
    position: relative;
    top: 110px;
    left: 100px;
    font-size: 45px;
    font-weight: bold;
}

.projectHeading button {
    margin-left: 45%;
}

p {
    font-weight: lighter;
    font-size: 20px;
    padding-right: 50px;
}

.textsection {
    position: relative;
    bottom: 40px;
}

.contact {
    position: relative;
    top: 200px;
    width: 70%;
    margin-bottom: 300px;
    display: flex;
    right: 100px;
    justify-content: center;

}

.looking {
    font-weight: lighter;
    font-size: 18px;
    padding-bottom: 60px;
}

.contactheading {
    font-size: 50px;
}

.Phone {
    position: relative;
    top: 50px
}

.contactdetail {
    width: 50%
}

.contactForm {
    width: 50%;
    display: block
}

.Firstname,
.email,
.msg {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.msg .circleItem1 {
    top: 50px
}

.contactForm p {
    font-weight: 350;
    position: relative;
    top: 15px;
}

input {
    border: solid black 1px;
    width: 250px;
    height: 45px;
    background-color: transparent;

}

.contactmsg {
    width: 300px;
    height: 150px;
    resize: none;
    background-color: transparent;

}

h4 {
    font-weight: bold;
    line-height: 15px;
}

.skill {
    display: flex;
    width: 70%;
    top: 20px
}

.skill ul {
    position: relative;
    left: 500px;
}
.skill ul li img{
    height:25px;
    width:25px;
    box-shadow: none;
}

.education {
    position: relative;
    top: 200px;
    left: 50px;
    height: 60%;
}

.education ul {
    position: relative;
    left: 577px;
}

.col-20 {
    width: 100%;
    height: 200px;
    resize: none;
}

.Firstname div {
    padding: 20px;
}

.email div {
    padding: 20px;
}

.cv {
    position: absolute;
    bottom: 20%;
    left: 10%
}

.cardWidth {
    color: black;
    width: 18rem;
    height: auto
}

.cartItem {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-bottom:30px ;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    ;
}

.cartImage {
    width: 20%;
    margin: 1%;
}

.cart-button {
    position: relative;
    padding: 5px;
    width: 90%;
    margin: 10px;
    height: 40px;
    border: 0;
    border-radius: 7px;
    background-color: black;
    outline: none;
    cursor: pointer;
    color: #fff;
    transition: .3s ease-in-out;
    overflow: hidden;
}

.cart-button:hover {
    background-color: black;
}

.cart-button:active {
    transform: scale(.9);
}

.cart-button .fa-shopping-cart {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -10%;
    font-size: 2em;
    transform: translate(-50%, -50%);
}

.cart-button .fa-box {
    position: absolute;
    z-index: 3;
    top: -20%;
    left: 52%;
    font-size: 1.2em;
    transform: translate(-50%, -50%);
}

.cart-button span {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    font-size: 1.2em;
    color: #fff;
    transform: translate(-50%, -50%);
}

.cart-button span.add-to-cart {
    opacity: 1;
}

.cart-button span.added {
    opacity: 0;
}

.cart-button.clicked .fa-shopping-cart {
    animation: cart 1.5s ease-in-out forwards;
}

.cart-button.clicked .fa-box {
    animation: box 1.5s ease-in-out forwards;
}

.cart-button.clicked span.add-to-cart {
    animation: txt1 1.5s ease-in-out forwards;
}

.cart-button.clicked span.added {
    animation: txt2 1.5s ease-in-out forwards;
}

@keyframes cart {
    0% {
        left: -10%;
    }

    40%,
    60% {
        left: 50%;
    }

    100% {
        left: 110%;
    }
}

@keyframes box {

    0%,
    40% {
        top: -20%;
    }

    60% {
        top: 40%;
        left: 52%;
    }

    100% {
        top: 40%;
        left: 112%;
    }
}

@keyframes txt1 {
    0% {
        opacity: 1;
    }

    20%,
    100% {
        opacity: 0;
    }
}

@keyframes txt2 {

    0%,
    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.btnwidth {
    width: 90%;
    margin-left: 4%;
}

.downloadbtn {
    position: absolute;
    left: 200px;
    bottom: 120px;
}

.animate {
    height: 60px;
    width: 180px;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.animate:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

.animate:hover svg {
    stroke-dashoffset: -480;
}

.animate span {
    color: black;
    font-weight: bold;
    font-size: 18px;
    ;
}

.body-height-small {
    height: 160vh;
    background-image: linear-gradient(205deg,
            hsl(240deg 83% 88%) 19%,
            hsl(323deg 83% 89%) 59%,
            hsl(6deg 100% 92%) 74%,
            hsl(35deg 100% 93%) 83%,
            hsl(48deg 100% 95%) 90%,
            hsl(34deg 100% 96%) 94%,
            hsl(18deg 91% 97%) 98%,
            hsl(5deg 27% 96%) 100%,
            hsl(2deg 100% 90%) 101%,
            hsl(4deg 100% 79%) 101%,
            hsl(5deg 100% 67%) 101%,
            hsl(0deg 92% 50%) 100%);
}

.body-height-medium {
    height: 1250px;
    background-image: linear-gradient(205deg,
            hsl(240deg 83% 88%) 19%,
            hsl(323deg 83% 89%) 59%,
            hsl(6deg 100% 92%) 74%,
            hsl(35deg 100% 93%) 83%,
            hsl(48deg 100% 95%) 90%,
            hsl(34deg 100% 96%) 94%,
            hsl(18deg 91% 97%) 98%,
            hsl(5deg 27% 96%) 100%,
            hsl(2deg 100% 90%) 101%,
            hsl(4deg 100% 79%) 101%,
            hsl(5deg 100% 67%) 101%,
            hsl(0deg 92% 50%) 100%);
}

.body-height-medium2 {
    height: 200vh;
    background-image: linear-gradient(205deg,
            hsl(240deg 83% 88%) 19%,
            hsl(323deg 83% 89%) 59%,
            hsl(6deg 100% 92%) 74%,
            hsl(35deg 100% 93%) 83%,
            hsl(48deg 100% 95%) 90%,
            hsl(34deg 100% 96%) 94%,
            hsl(18deg 91% 97%) 98%,
            hsl(5deg 27% 96%) 100%,
            hsl(2deg 100% 90%) 101%,
            hsl(4deg 100% 79%) 101%,
            hsl(5deg 100% 67%) 101%,
            hsl(0deg 92% 50%) 100%);
}

.body-height-large {
    height: 670vh;
    background-image: linear-gradient(205deg,
            hsl(240deg 83% 88%) 19%,
            hsl(323deg 83% 89%) 59%,
            hsl(6deg 100% 92%) 74%,
            hsl(35deg 100% 93%) 83%,
            hsl(48deg 100% 95%) 90%,
            hsl(34deg 100% 96%) 94%,
            hsl(18deg 91% 97%) 98%,
            hsl(5deg 27% 96%) 100%,
            hsl(2deg 100% 90%) 101%,
            hsl(4deg 100% 79%) 101%,
            hsl(5deg 100% 67%) 101%,
            hsl(0deg 92% 50%) 100%);
}

.expertise ul li {
    padding-top: 10px
}

.textutils {
    width: 90%
}


@media screen and (min-width:300px)and (max-width:720px) {
    .body-height-small {
        height: 246vh;
    }

    .body-height-large {
        height: 1042vh;
    }

    .body-height-medium {
        height: 310vh;
    }

    .body-height-medium2 {
        height: 325vh;

    }

    .profileNav {
        height: 40px;
        width: 100%;
        z-index: 1;
        display: flex;
        padding-top: 10px;
        flex-direction: row-reverse;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .ProfilenavItem {
        height: 20px;
        font-size: 15px;
        font-weight: lighter;
        padding-right: 10px;
        padding-left: 10px;
        transition: background-color 0.5s ease;
        cursor: pointer;
    }

    .name {
        font-weight: 500;
        top: 5px;
        position: absolute;
        font-size: 12px;
        display: flex;
        left: 20px;
        cursor: pointer;
    }

    .name span {
        display: none;
    }

    .name img {
        width: 27px;
        height: 27px
    }

    .profileImage {
        display: block;
        width: 97%;
        position: relative;
        top: 80px;
    }

    .profileImage img {
        width: 270px;
        height: 270px;
        border-radius: 50%;
        position: relative;
        bottom: 30px;
        left: 20px
    }

    .about {
        display: block;
        position: relative;
        bottom: 0px;
        left: 10px;
        width: 100%;
    }

    .about p {
        padding-left: 10px;
        font-size: 18px;
    }

    .span2 {
        padding-left: 10px;
        font-size: 30px;
        font-weight: 500;
    }

    .span1 {
        padding-left: 10px;
        font-size: 50px;
    }

    .circleItem1,
    .circleItem2,
    .circleItem3 {
        position: relative;
        border: solid black 1px;
        height: 90px;
        width: 90px;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        font-size: 20px;
    }

    .downloadbtn {
        position: absolute;
        left: 70px;
        bottom: -110px
    }

    .footer {
        padding: 0;
        width: 80%;
        position: relative;
        top: 15rem;
        display: block;
        font-weight: bold;
    }

    .footerItem {
        padding-top: 10px;
        display: block;
        font-size: 15px;
    }

    .follow {
        padding-top: 10px;
        font-size: 15px;
    }

    .firstProject {
        position: relative;
        display: block;
        width: 99%;
        height: auto;
        margin: auto;
        padding-right: 10px;
        padding-left: 10px;
        top: 100px;
        right: 0;
        align-items: center;
        margin-bottom: 10px;
    }

    .projectHeading {
        position: relative;
        top: 50px;
        left: 10px;
        padding: 0;
        width: 60%;
        font-size: 45px;
        font-weight: bold;
    }


    .projectHeading button {
        margin-left: 15%;
    }

    p {
        font-weight: lighter;
        font-size: 15px;
        padding-right: 0px;
    }

    .textsection {
        position: relative;
        bottom: 10px;
    }

    .textsection h2 {
        font-weight: bold;
    }

    .firstProject img {
        width: 100%;
        height: 180px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
    }

    .container {
        margin: 0;
    }

    .contact {
        position: relative;
        top: 50px;
        width: 100%;
        display: block;
        right: 0px;
        margin: auto;
        justify-content: center;

    }

    .looking {
        font-weight: lighter;
        font-size: 18px;

    }

    .contactheading {
        font-size: 50px;
        font-weight: 800;
    }

    .Phone {
        position: relative;
        top: 40px;
        padding-left: 20px;
        margin-bottom: 30px;
    }

    .contactdetail {
        width: 100%
    }

    .contactForm {
        width: 100%;
        display: block
    }

    .Firstname,
    .email,
    .msg {
        width: 100%;
        display: block;

    }

    .msg .circleItem1 {
        top: 50px;
        margin-left: 20px;
    }

    .contactForm p {
        font-weight: 350;
        position: relative;
        top: 15px;
    }

    .contactmsg {
        width: 86%;
        height: 150px;
        position: relative;
        left: 20px;
        resize: none;
        background-color: transparent;
    }

    .msg p {
        padding-left: 20px;
    }

    h4 {
        font-size: 25px;
        font-weight: bolder;
        line-height: 20px;
    }

    .skill {
        display: block;
        width: 100%;
        bottom: 10px;
        margin-bottom: 0px;
    }

    .skill ul {
        position: relative;
        left: 0px;
        font-size: 20px;
    }

    .skill ul img {
        height: 21px;
        width: 21px;
        box-shadow: none;
    }
    .expertise{
        margin-bottom: 20px;
    }

    .education {
        position: relative;
        top: 100px;
        left: 20px;
        height: auto;
        width: 90%;
    }

    .education ul {
        position: relative;
        left: 0px;
    }

    .container hr {
        position: relative;
        top: 50px
    }
   

    .col-20 {
        width: 100%;
        height: 200px;
        resize: none;
    }

    .cartItem {
        color: black;
        padding: 20px;
        margin: auto;
        width: 90%;
        display: block;
        height: auto;
        font-size: 13px;
        margin-bottom: 20px;
    }

    .cartItem img {
        width: 150px;
        height: auto;
        align-self: center;
    }

    .cartItem .button {
        width: 75%;
margin-left: 8px;
    }

}