
body{
    background-color: whitesmoke;
}
.projectContainer{
    width:92%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.projectCard{
    text-align: center;
    margin:1%;
    align-items: center;
    background-color: white;
    color:black;
    height:400px;
    width:23%;
transition: all 0.2s ease-in;
}
.projectCard:hover{
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px)
}
.projectCard img{
    width:100%;
    height:40%
}
.projectCard h5{
    font-size: large;
    margin: 5%;
}