
.resume2 {
    color: white;
    background-color: black;
    font-family: "Poppins", sans-serif;
    width: 70%;
    margin: auto;
    margin-bottom: 4%;
    display: block;
    border-radius: 10px;
    height: auto;
    text-align: center;
    

    h3 {
        width: 100%;
        padding: 3%;
        text-decoration: underline black 1px;
        font-weight: 500;
    }

    h2 {
      text-shadow: 0px 20px 1s0px rgba(0, 0, 0, 0.1);
        margin: 2%;
        font-weight: 600;
        text-decoration: underline 1px ;
   
    }

    .skill {
        display: block;
        padding: 2%;
        width: 22%;
        border-radius: 10px;
        height: 250px;
        margin: auto;
        margin-bottom: 2%;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);

    // background: #e3edf7;
    background-color: black;
    h6{
        font-size: 1rem;
        font-weight: bold;
        margin: 7%;
    }
        .outer {

         
            height: 170px;
            width: 170px;
            border-radius: 50%;
            padding: 14px;
           
            .inner {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 140px;
                width: 140px;
                border-radius: 50%;
               
                    img{
                        width:40%;
                    }
            }

        }

}
        svg {
            
            position: relative;
            left: -13px;
            top: -152px;
            fill: none;
            stroke: darkorange;
            stroke-width: 4;
            stroke-dasharray: 0;
            stroke-dashoffset: 0;
            transition: 1s ease-in-out;
        }

        circle {
            fill: none;
            stroke: url(#GradientColor );
            stroke-width: 15px;

        }
    }


.skillmeter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .skill:nth-child(1) svg {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation: html 2.5s linear forwards;

    }

    .skill:nth-child(2) svg {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation: css 2.2s linear forwards;

    }

    .skill:nth-child(3) svg {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation: javascript 2s linear forwards;

    }

    .skill:nth-child(4) svg {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation: javascript 2s linear forwards;

    }
}
.backendskillmeter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .skill:nth-child(1) svg {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation: html 2.5s linear forwards;

    }

    .skill:nth-child(2) svg {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation: css 2.2s linear forwards;

    }

    .skill:nth-child(3) svg {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation: javascript 2s linear forwards;

    }

    .skill:nth-child(4) svg {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation: javascript 2s linear forwards;

    }
}
.backendSkill{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .skill:nth-child(1) svg {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation: node 2s linear forwards;

    }

    .skill:nth-child(2) svg {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation:express 2s linear forwards;

    }

    .skill:nth-child(3) svg {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation:mongo 2s linear forwards;

    }
    .skill:nth-child(4) svg {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation:sql 2s linear forwards;

    }

   
}
.libraray{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
        .skill:nth-child(1) svg {
            stroke-dasharray: 0;
            stroke-dashoffset: 0;
            animation: boostrtap 2.5s linear forwards;
    
        }
    
        .skill:nth-child(2) svg {
            stroke-dasharray: 0;
            stroke-dashoffset: 0;
            animation: jquery 2.2s linear forwards;
    
        }
    
        .skill:nth-child(3) svg {
            stroke-dasharray: 0;
            stroke-dashoffset: 0;
            animation: redux 2s linear forwards;
    
        }
    
        .skill:nth-child(4) svg {
            stroke-dasharray: 0;
            stroke-dashoffset: 0;
            animation: scss 2s linear forwards;
    
        }
    }
@keyframes html {
    100% {
        stroke-dasharray: 420;
    }
}

@keyframes css {
    100% {
        stroke-dasharray: 360;
    }
}

@keyframes javascript {
    100% {
        stroke-dasharray: 300;
    }
}
@keyframes node {
    100% {
        stroke-dasharray: 300;
    }
}

@keyframes express {
    100% {
        stroke-dasharray: 320;
    }
}

@keyframes mongo {
    100% {
        stroke-dasharray: 330;
    }
}
@keyframes sql {
    100% {
        stroke-dasharray: 300;
    }
}
@keyframes boostrtap {
    100% {
        stroke-dasharray: 357;
    }
}
@keyframes jquery {
    100% {
        stroke-dasharray: 306;
    }
}
@keyframes redux {
    100% {
        stroke-dasharray: 350;
    }
}
@keyframes scss {
    100% {
        stroke-dasharray: 400;
    }
}
@media screen and (min-width:300px) and (max-width:600px) {
    .resume2{
        width: 90%;
    }
   
 .resume2 .skill{
    text-align: -webkit-center;
    width:75%;
    margin: auto;
 }
 .skillmeter{
    display: block;
 }   
}
@media screen and (min-width:600px) and (max-width:1024px) {
    .resume2{
        width: 80%;
    }
   
 .resume2 .skill{
    text-align: -webkit-center;
    width:45%;
    margin: auto;
 }
  
}
@media screen and (min-width:1024px) and (max-width:1340px) {
    .resume2{
        width: 80%;
    }
   
 .resume2 .skill{
    text-align: -webkit-center;
    width:33%;
    margin: auto;
 }
  
}
