

body {
    background-color: white;
scroll-behavior:smooth ;
}
#main{
    display: flex;
     background-color: white
}
.Body {
    display: flex;
    background-color: white;
    box-sizing: border-box;
}

.iconCircle {
    padding: 5px;
    align-self: center;
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 50%;
}

.weatherBox,
.weatherBox2 {
    color: white;
    width: 50%;
    height: 300px;
    border-radius: 20px;
    background-size: 100% 100%;
    margin: 1%;
}

.leftside {
    width: 75%;
    height: auto;
}

.Topnavbar {
    background-color: white;
    padding-top: 8px;
    height: 80px;
    display: flex;
    width: 100%;

}

.search {
    border-radius: 15px;
    position: absolute;
    right: 30%;
    background-color: whitesmoke;
    color: black;
    width: 15%;
    padding: 8px;
    display: flex;
    justify-content: flex-end;
    background-repeat: no-repeat;
}
.Topnavbar #magnify {
    position: absolute;
    color:darkorange;
    right:31%; 
    top:21.5%; 
}
.search:focus {
    border: none;
    width: 22%;
    transition: width ease-in-out 0.4s;
}

.search:not(:focus) {
    width: 15%;
    transition: width ease-in-out 0.4s;
}

.Topnavbar #bell {
    position: absolute;
    right: 27%;
    top: 19.5%;
    margin: 1%;
}

.character {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0% 1% 0% 5%;

}

.charactername {
    font-weight: 800;
    font-size: 1rem;
    font-family: 'DM Sans';
    margin: 0;
}

.charactername~div {
    font-size: 2rem;
    font-family: 'DM Sans';
}

.sunny {
    background-image: url("../images/weather/evening.jpg");
}

.clear {
    background-image: url("../images/weather/sunny.jpg");
}

.moon {
    background-image: url("../images/weather/moon.jpg");
}

.mist {
    background-image: url("../images/weather/mist.jpg");
}

.thunderstorm {
    background-image: url("../images/weather/thunderstorm.jpg");
}

.rain {

    background-image: url("../images/weather/dayRain.jpg");
}

.nightRain {

    background-image: url("../images/weather/nightRain.jpg");
}

.cloud {

    background-image: url("../images/weather/cloud.jpg");
}

.haze {

    background-image: url("../images/weather/haze.jpg");
}

.nighthaze {
    background-image: url("../images//weather//nighthaze.jpg");
}

.nightSmoke {
    background-image: url("../images/weather/nightSmoke.jpg");
}

.smoke {
    background-image: url("../images/weather/smoke.jpg");
}

.dust {
    background-image: url("../images/weather/dust.jpg");
}

.nightmist {
    background-image: url("../images/weather/nightmist.jpg");
}

.feelsLike,
.aq {
    width: 100px;
    height: 50px;
    color: black;
    border-radius: 10px;
    font-size: 13px;
    text-shadow: none;
    padding: 5px 10px 5px 10px;

}

.feelsLike {
    background-color: whitesmoke;
}

.aq {
    background-color: #CBE464;
}


.Weatherinfo {
    padding: 4% 0% 0% 2%;
    display: flex;
    gap: 3%;
    justify-content: baseline;
    color: white;
}

.Weatherinfo h4 {
    padding-top: 20px;
    text-shadow: 2px 2px 2px black;
}

.temp {
    text-shadow: 2px 2px 2px black;
    padding: 3% 0% 0% 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.weatherDetails {
    display: flex;
    justify-content: space-around;
}

.pressure,
.humidity,
.visibility {
    padding: 10px;
    text-align: center;
    width: 6rem;
    height: 5rem;
    border-radius: 20px;
    margin-top: 8%;
    font-weight: 600;
}

.pressure div,
.humidity div,
.visibility div {
    font-family: 'DM Sans', sans-serif;
    font-size: 15px
}

.pressure {
    background-color: #1A2940;
    color: white;

}

.visibility {
    color: black;
    background-color: #CBE464;
}

.humidity {
    color: black;
    background-color: #FEFEFE;
}

.airQuality {
    background-image: url("../images/weather/airevening.jpg");
}

.airQualityevening {
    background-image: url('../images//weather/airevening.jpg');
}

.airQuality h4 {
    text-shadow: 2px 2px 2px black;


}

.weatherBox2 p {
    color: white;
    padding-left: 15%;
    text-shadow: 1px 1px 1px black;
}

.weatherBox2 h1 {
    padding-left: 5%;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.weatherBox2 .wind {
    padding-left: 5%;
    font-size: 1rem;
}

.rightside {
    border-radius: 15px;
    width: 25%;
    height:auto;
    background-color: whitesmoke;
}

.temprature {
    width: 98%;
    height: auto;
    border-radius: 20px;
    margin: 1%;
    background-color: white;
}

.temprature h1 {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 10px;
    font-weight: 900;
}

.icon {
    height: 60px;
    width: auto;
    padding: 20px;
    margin: 2%;
    border-radius: 15px;
}

.icon:hover {
    color: white;
    background-color: darkorange;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);

}

.tomorrow {
    width: 23%;
    height: 97%;
    border-radius: 15px;
    background-image: url("../images/weather/_105a7463-f246-497a-8550-efb57d96af57.jpg");
    background-size: 100% 100%;
}

.tempGraph {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 100%;
}

.graph {
    height: 96%;
    width: 20%;
}

.graph i{
    margin-left: 40%;
}


.graph:nth-child(2) {
    border-left: solid lightgray 1px;
    border-right: solid lightgray 1px;
}

.graph:nth-child(3) {
    border-right: solid lightgray 1px;
}

.graph h4 {
    margin-left: 40%;
    font-weight: 700;
}

.graph p {
    margin-left: 40%;

    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
}

.location {
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    color: black;
    width: 90%;
    margin: auto;
    border-bottom: darkgrey solid 1px;
}

.location p:nth-child(2) {
    font-family: 'DM Sans', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.location h2 {
    font-weight: bolder;
    color: darkorange;
}

.uv {
    padding: 20px;
    color: white;
    width: 90%;
    height: auto;
    border-radius: 25px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: #1A2940;
    display: flex;
    justify-content: space-evenly;
    align-items: last baseline;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);

}

.uv h4 {
    font-weight: 500;
}

.uv p {
    font-size: 15px;
}

.weatherPridiction {
    margin: 5% 0% 5% 5%;
    width: 90%;

}

.weatherPridiction h2 {
    padding-left: 20%;
    font-weight: bolder;
    text-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);

}

.nextdays {
    display: flex;
    align-items: last baseline;
    justify-content: space-around;
    margin: 5%;
    padding: 5%;
    border-radius: 20px;
    width: 90%;
    background-color: white;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.nextdays h5 {
    color: darkorange;
}

.nextdays div:first-child {
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    color: darkgray;
}

.nextdays h6 {
    font-weight: 700;
}

.prediction {
    border: none;
    margin-left: 47%;
    background-color: white;
}

svg {
    position: relative;
    left: 0;
    top: 0;
    fill: none;
    stroke: darkorange;
    stroke-width: 4;
    stroke-dasharray: 0 0;
    stroke-dashoffset: 0;
    transition: 1s ease-in-out;
}

.sunset {
    width: 90%;
    height: 200px;
    margin: auto
}
.sunset div div div{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700
}
.sunset div div h6{
    font-weight: 900
}
.sunset  {
    position: relative;
  }
  
  .sunset .tooltiptext,.polutionCondition .tooltiptext{
    visibility: hidden;
    width: 90px;
    background-color: darkorange;
    color:white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 30%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .polutionCondition .tooltiptext{
    width:100px;
    padding: 12px;
    border-radius: 15px;
    height: auto;
    bottom: 31%;
    left: 57%;
    opacity: 0;
    background-color: #1A2940;
  }
  
  .sunset .tooltiptext::after, .polutionCondition .tooltiptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  darkorange transparent transparent transparent;
  }
  .polutionCondition .tooltiptext::after{
    border-color: #1A2940 transparent transparent transparent;
  }
  
  .sunset:hover .tooltiptext,.polutionCondition:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  .polutionCondition{
    padding:5%;
    color: black;
    width: 80%;
    height:27%;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);

  }
 