.Body{
    display: flex;
}
.iconCircle{padding:5px;
    align-self: center;
    width: 40px;
    height:40px;
    background-color: whitesmoke;
    border-radius: 50%;
}
.weatherBox,.weatherBox2 {
    color:white;
    width: 33%;
    height: 300px;
    border-radius: 20px;
    background-size: 100% 100%;
    margin:5%;
}
.Topnavbar{
    height:80px;
    display: flex;
    
}
.search{
    border-radius: 15px;
    position:relative;
    left:30%;
    background-color: white;
    color:black;
    width:23%;
    padding: 5px;
    display: flex;
    justify-content:flex-end;
    background-repeat: no-repeat;
}
.search:focus{
    border: none;
}
.character{
  width: 50px; 
  height:50px; 
  border-radius:50%;
  margin: 0% 1% 0% 5%;

}
.charactername{
    font-weight: 800;
    font-size:1rem;
    font-family:'DM Sans';
    margin: 0;
} 
.charactername~div{
    font-size:2rem;
    font-family:'DM Sans';


}
.sunny{
    background-image: url("../images/weather/evening.jpg");
}
.clear{
    background-image: url("../images/weather/sunny.jpg");
}
.moon{
    background-image: url("../images/weather/moon.jpg");
}
.mist{
    background-image: url("../images/weather/mist.jpg");
}
.thunderstorm{
    background-image: url("../images/weather/thunderstorm.jpg");
}
.rain{
    
    background-image: url("../images/weather/dayRain.jpg");
}
.nightRain{
   
    background-image: url("../images/weather/nightRain.jpg");
}
.cloud{
  
    background-image: url("../images/weather/cloud.jpg");
}
.haze{
   
    background-image: url("../images/weather/haze.jpg");
}
.nighthaze{
    background-image: url("../images//weather//nighthaze.jpg");
}
.nightSmoke{
    background-image: url("../images/weather/nightSmoke.jpg");
}
.smoke{
    background-image: url("../images/weather/smoke.jpg");
}   
.dust{
    background-image: url("../images/weather/dust.jpg");
}
.nightmist{
    background-image: url("../images/weather/nightmist.jpg");
}
.feelsLike,.aq{
    width:100px;
    height:50px;
    color:black;
    border-radius: 10px;
    font-size: 15px;
    text-shadow: none;
    padding:5px 10px 5px 10px;
}
.feelsLike{
    background-color: whitesmoke;
}
.aq{
    background-color: #CBE464;
    
}


.Weatherinfo {
    padding:4% 0% 0% 2%;
    display: flex;
    gap:3%;
    justify-content: baseline;
    color: white;
}
.Weatherinfo h4{
    padding-top: 20px;
    text-shadow: 2px 2px 2px black;
}
.temp{
    text-shadow: 2px 2px 2px black;
    padding:3% 0% 0% 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.weatherDetails{
    display: flex;
    justify-content: space-around;
}
.pressure,.humidity,.visibility{
    padding:10px;
    text-align: center;
    width:6rem;
    height:5rem;
    border-radius: 20px;
    margin-top: 10%;
    font-weight:600;
}
.pressure div,.humidity div ,.visibility div{
font-family:'DM Sans', sans-serif;
font-size:15px
}
.pressure{
    background-color: #1A2940;
    color:white;

}
.visibility{
    color: black;
    background-color: #CBE464;
}
.humidity{
color: black;
    background-color: #FEFEFE;
}
.airQuality{
    background-image: url("../images/weather/airevening.jpg");
    }
    .airQualityevening{
        background-image:url('../images//weather/airevening.jpg');
    }
    .airQuality h4{
        text-shadow: 2px 2px 2px black;


    }
    .weatherBox2 p{
        color: white;
        padding-left: 15%;
        text-shadow: 1px 1px 1px black;
    }
    .weatherBox2 h1{
        padding-left: 5%;
        color: white;
        text-shadow: 1px 1px 1px black;
    }
    .weatherBox2 .wind{padding-left: 5%;
        font-size: 1rem;
        
    }