

.alarm {
    border-radius: 15px;
    margin-top: 5rem;
    margin-left: 18rem;
    background-color: white;
    width: 700px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.datetime{
    font-size: larger;
     width:90%;
    gap:2%;
    display: flex;
    margin-bottom: 30px;

}
.time{
    padding:10px;
    color:black;
    border: solid black 1px;
    border-radius: 5px;

}
.date{
    padding:10px;
    width:60%;
    color: black;
    border: solid black 1px;
    border-radius: 5px;
}
@media screen and (min-width:300px) and (max-width:720px) {
    .alarm {
        border-radius: 15px;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        background-color: lightgray;
        width:90%;
        height: 99%;
        display: flex;
    }
.datetime{
    width:100%;
    display: block;
    }
    .date,.time{
        width: 90%;
        margin-bottom: 10px;
    }
    }